@font-face {
  font-family: 'iconfont';  /* project id 1890204 */
  src: url('//at.alicdn.com/t/font_1890204_irivvijlwt.eot');
  src: url('//at.alicdn.com/t/font_1890204_irivvijlwt.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1890204_irivvijlwt.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1890204_irivvijlwt.woff') format('woff'),
  url('//at.alicdn.com/t/font_1890204_irivvijlwt.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1890204_irivvijlwt.svg#iconfont') format('svg');
}

.icon-family {
  font-family: "iconfont";
}

.icon-home::before {
  content: '&#xe610';
}
